{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for movement in movements %}
                <tr>
                    <td>{{ movement["share_name"] | upper }}</td>
                    <td>{{ movement["quantity"] }}</td>
                    <td>{{ movement["price"] }}</td>
                    <td>{{ movement["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
